[submodule "Chapter04/cpp/external/jaeger-client-cpp"]
	path = Chapter04/cpp/external/jaeger-client-cpp
	url = https://github.com/jaegertracing/jaeger-client-cpp.git
[submodule "Chapter04/cpp/external/drogon"]
	path = Chapter04/cpp/external/drogon
	url = https://github.com/an-tao/drogon.git
[submodule "Chapter04/cpp/external/poco"]
	path = Chapter04/cpp/external/poco
	url = https://github.com/pocoproject/poco.git
[submodule "Chapter04/cpp/external/philslib"]
	path = Chapter04/cpp/external/philslib
	url = https://github.com/CppPhil/philslib.git
[submodule "Chapter04/cpp/external/optional"]
	path = Chapter04/cpp/external/optional
	url = https://github.com/TartanLlama/optional.git
[submodule "Chapter04/cpp/external/expected"]
	path = Chapter04/cpp/external/expected
	url = https://github.com/TartanLlama/expected.git
